* {
  box-sizing: border-box;
}

#boxA, #boxB{
  width: 200px;
  height: 200px;
  background-color: green;
  display: inline-block;
}

section{
  width: 400px;
  height: 400px;
  background-color: orange;
}

#big {
  height: 400px;
  width: 400px;
  background-color: pink;
}

